/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

h1 a {
  text-decoration: none;
  color: inherit; /* Keeps the color consistent with the h1 styling */
}

header h1 {
  font-size: 1.8em;
}

header .nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}


/* Footer Styling */
footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
}

