

/* Photo Gallery Styling */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Increased min-width for larger cards */
  gap: 20px;
  padding: 20px;
}
.photo-card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
}

.photo-image {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.photo-link {
  text-decoration: none;
  color: inherit;
}


.photo-details h2 {
  font-size: 1.4em;
  margin: 10px 0 5px;
}

.photo-details p {
  font-size: 0.9em;
  color: #555;
}

.price {
  font-weight: bold;
  color: #333;
}